<!doctype html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Paranot.es</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Styles -->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link rel='stylesheet' href='/stylesheets/style.css' />
<!--[if lt IE 9]>
      <script> alert("This website is not compatible with your browser yet");</script>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div id="top-nav" class="navbar navbar-inverse ">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">&nbsp;Paranot.es</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li>
                <div> <h3 id="userName"></h3></div>
              </li>
              <li>
              	<input id="login" class="input-small" type="text" placeholder="Login"/>
              </li>
              <li>
              	<input id="pass" class="input-small" type="password" placeholder="Password"/>
              </li>
              <li>
                <input id="connect" class="btn" value="Connect" type="submit" />
              </li>
              <li>
                <input id="logout" style="display:none;" class="btn btn-danger" value="Log out" type="submit" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
<div class="row-fluid">
  <div class="span10">
    <div class="compress">
    <ul id="inputs-navs" class="nav nav-tabs">
      <li class="active"><a href="#welcome" data-toggle="tab"><h3>Welcome!</h3></a></li>
    </ul>
  </div>
</div>
<div class="span2">
  <ul id="commands" class="nav nav-tabs"  >
    <li  style="display:none" class="command" title="Delete the current note"><a href="#" id="deleteFile"><i class="icon-trash"></i></a></li>
    <li class="command" title="Create a note"><a href="#" id="addNewFile"><i class="icon-plus"></i></a></li>
    <li class="command"><a href="#" id="newFileName" contenteditable="true"><i></i></a></li>
    <li class = "command" title="Save status"><a href="#" ><i id="saveStatus"></a></i></li>
  </ul>
  </div>
 </div>
  </div>
  <div>
  <div id="input" contenteditable="false">
      <p><br/>
      Paranot.es is a simple application that allow you to store Notes on the web.
    </p>
      <h3>2 seconds setup</h3>
      <p>
      To start, enter a login and a password, and if the username is available, you will be able to create an account instantly.<br/>
      </p>
      <h3>Easy to use</h3>
      <p>
      You can edit any note by simply clicking it.
      The save is performed automatically.<br/>
    </p>
      <h3>And secure</h3>
      <p>
      Every note is encrypted directly on your browser, so we never send any clear data on the network.
      Your password is the decryption key, and we never send it to the server either for maximum security.
      <em>Even the administrator of this server do not know what you wrote.</em><br/><br/>
      That mean one thing: <em>if you loose your password, you loose your account and thus your files, so keep it safe.</em>
      <br>
      If you need a good password idea, you can read this <a target="blank" href="http://xkcd.com/936/">XKCD comics</a>.<br/>
      <br/>
      <br/>
      This website is open source, you can check the code at 
      <a target="blank" href="https://github.com/SeekTheError/Paranot.es">https://github.com/SeekTheError/Paranot.es</a><br/>
    </p>

    
    
  </div>
</div>
<!-- Scripts -->
<script src="/javascripts/vendor/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/javascripts/vendor/cryptojs/sha1.js"></script>
<script src="/javascripts/vendor/cryptojs/aes.js"></script>


<script>  
  $(document).ready(function() {
    // IE "console"
    if (!window.console || !console) {
      window.console = {};
      window.console.log = function() {}
      window.console.error = function(){}
      window.console.info = function(){}
    }
    Socket = io.connect('http://'+window.location.host);
    
    Socket.on('connected', function (data) {
      if(!PN.isInitialized){
        pn = new PN();
      };
      console.log("socket.io: ",data);
      });
  });
</script>
<script src="/javascripts/ui.js"></script>
<script src="/javascripts/pn.js"></script>


</body>
</html>