<!doctype html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Paranot.es</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Styles -->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link rel='stylesheet' href='/stylesheets/style.css' />
<!-- Scripts -->
<script src="/javascripts/vendor/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>

<script src="/javascripts/vendor/cryptojs/sha1.js"></script>
<script src="/javascripts/vendor/cryptojs/aes.js"></script>
<script src="/javascripts/client.js"></script>
<script>	
	$(document).ready(function() {
		// IE "console"
		if (!window.console || !console) {
			window.console = {};
			window.console.log = function() {}
			window.console.error = function(){}
      window.console.info = function(){}
		}
    $(".command").hide();
		pn.init();
	});
</script>
<!--[if lt IE 9]>
      <script> alert("This website is not compatible with your browser yet");</script>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div id="top-nav" class="navbar navbar-inverse ">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">&nbsp;Paranot.es</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li>
              	<input id="login" class="input-small" type="text" placeholder="Login"/>
              </li>
              <li>
              	<input id="pass" class="input-small" type="password" placeholder="Password"/>
              </li>
              <li>
                <input id="connect" class="btn" value="Connection" type="submit" />
              </li>
              <li>
                <input id="logout" style="display:none;" class="btn btn-danger" value="Log out" type="submit" />
              </li>
              <!--<li class="command" title="Log out"><a href="/" id="off" ><i class="icon-off icon-white"></i></a></li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
<div class="row-fluid">
  <div class="span8">
    <ul id="inputs-navs" class="nav nav-tabs">
      <li class="active"><a href="#welcome" data-toggle="tab">Welcome!</a></li>
    </ul>
</div>
<div class="span4">
  <ul id="commands" class="nav nav-tabs"  >
    <li  style="display:none" class="command" title="Delete the current note"><a href="#" id="deleteFile"><i class="icon-trash"></i></a></li>
    <li class="command" title="Create a note"><a href="#" id="addNewFile"><i class="icon-plus"></i></a></li>
    <li class="command"><a href="#" id="newFileName" contenteditable="true"><i>New Note</i></a></li>
    <li class="command" title="Refresh"><a href="#" id="refresh"><i class="icon-refresh"></i></a></li>
  </ul>
  </div>
 </div>
  </div>
  <div>
  <div id="input" contenteditable="false">
      Paranot.es is a simple application that allow you to store Notes on the web.<br/>
      <br/>
      To start, enter a login and a password, and if the username is available, you will be able to create an account.<br/>
      <br/>
      You can edit any note by simply clicking it.<br/>
      The save is performed either if the text input loose focus or if you press ctrl+s(the common save shortcut).<br/>
      Every notes are encrypted directly on your browser, so we never send the clear data on the network.<br/>
      <br/>
      Your password is the decryption key, and we never send it to the server either for maximum security.<br>
      That mean one thing: if you loose your password, you loose your account and thus your files, so keep it safe.<br/>
      <br/>
      If you need a good password idea, read this <a href="http://xkcd.com/936/">XKCD comics</a>.<br/>
      <br/>
      <b>THIS IS A DEMO VERSION,  DO NOT TRUST THIS SITE YET </b>
      <br/>
      This website is open source, you can check the code at 
      <a href="https://github.com/SeekTheError/Paranot.es">https://github.com/SeekTheError/Paranot.es</a><br/>
  </div>
</div>
</body>
</html>