<!doctype html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Paranot.es</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Styles -->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link rel='stylesheet' href='/stylesheets/style.css' />
<!-- Scripts -->
<script src="/javascripts/vendor/jquery.js"></script>
<script src="/javascripts/vendor/cryptojs/sha1.js"></script>
<script src="/javascripts/vendor/cryptojs/aes.js"></script>
<script src="/javascripts/client.js"></script>
<script>	
	$(document).ready(function() {
		// IE "console"
		if (!window.console) {
			window.console = {};
			window.console.log = function() {}
			window.console.error = function(){}
		}
		pn.init();
		
	});
</script>
<!--[if lt IE 9]>
      <script> alert("This website is not compatible with your browser yet");</script>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div id="top-nav" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Paranot.es</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
              	<input id="login" type="text" placeholder="Login"/>
              </li>
              <li>
              	<input id="pass" type="password" placeholder="Password"/>
              </li>
               <li>
              	<select id="path" placeholder="Path">
              		<option value="">/</option>
                  <option value="Other">Other</option>
              	</select>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
    	<div id="input" contenteditable="true" >Hello and welcome,<br/>

    	To start, enter a login and a password, and if the username is free, you will be able to create an account(paths are static for now)<br/>

			You can edit any note by simply clicking it<br/>

			The save is performe either if the text input loose focus or if you press ctrl+s<br/>

      Every notes are encrypted directly on your browser, so we never send the clear data on the network<br/>

      Your password is the decryption key, and we never send it to the server either for maximum security<br>

			That mean one thing: if you loose your password, you loose your account and thus your files, so keep it safe<br/>

		</div>
    </div>
</body>
</html>
