body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#pass,#login,#path {margin-top: 8px;}

.navbar{margin-bottom: 5px;}

#addNewFile:hover{
	cursor: pointer;
}

li.command{float:right;}

div.content{
padding-right: 10px;
padding-left: 10px;

}

div#input{
	margin: 4px;
}

