body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#pass,#login,#connect,#logout{margin-top: 8px;}

#userName {
	line-height: 22.5px;
	padding-right: 5px;
}

.navbar, .nav{
	margin-bottom: 0px;}

.nav-tabs{
	border-bottom: none;
}

li.command{float:right;}

div.content{
margin-top: 5px;
padding-right: 10px;
padding-left: 10px;

}

div#input{
	padding-top: 5px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 10px;
	margin-left: 10px;
	border: 1px solid #CCC;

}

 #input:focus {
outline-width: 0px;
outline-style: dotted;
outline-offset: 5px
}